@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #0d0d12;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #f8fafb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
